[Unit]
Description=Sim racing telemetry signal processing client
After=local-fs.target
Wants=local-fs.target

[Service]
ExecStart=/opt/simtezilo/bin/simtezilo
Type=simple
Restart=always

[Install]
WantedBy=local-fs.target

[Socket]
ListenDatagram=0.0.0.0:33740
ListenStream=0.0.0.0:8080