[Unit]
Description=Sim racing telemetry signal processing client
After=local-fs.target
Wants=local-fs.target

[Service]
ExecStartPre=/usr/bin/raspi-gpio set 5,6,16,24 ip pu
ExecStart=/opt/simtezilo/simtezilo
ExecStartPost=/usr/bin/raspi-gpio set 5,6,16,24 ip pu
Type=simple
Restart=always

[Install]
WantedBy=local-fs.target

[Socket]
ListenDatagram=0.0.0.0:33740
ListenStream=0.0.0.0:8080